[MAIN]
load-plugins =
    pylint_per_file_ignores
fail-under = 9

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    too-few-public-methods,
    unnecessary-ellipsis,

per-file-ignores=
    src/tests/**: invalid-name, missing-class-docstring, missing-function-docstring, redefined-outer-name, unused-argument


[BASIC]
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__)|(_[a-z0-9_]+))$
variable-rgx=[a-z_][a-z0-9_]{2,20}$
argument-rgx=[a-z_][a-z0-9_]{2,20}$
method-rgx=[a-z_][a-z0-9_]{2,50}$
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$

[DESIGN]
max-args=10
max-locals=15
max-branches=5
max-statements=50
max-parents=7
max-attributes=12

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
